body {
  background-color: rgb(233, 223, 255);
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
  color: rgb(44, 44, 44);
}

h1 {
  color: rgb(83, 49, 156);
}

.container {
  /* flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  position: relative;
  background-color: #fff;
  border-radius: 20px;
  width: 100%;
  max-width: 900px;
  padding: 0 64px 64px 0;
}

.tabs {
  /* flex */
  display: flex;
  justify-content: space-around;

  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(200, 175, 255);
  margin: 0 0 32px 0;
  padding: 16px;
}

.tabs p {
  padding: 8px;
}

.tabs p:hover {
  color: rgb(83, 49, 156);
  cursor: pointer;
}

.tabs p.active {
  color: rgb(83, 49, 156);
  position: relative;
}

.line{
  position: absolute;
  top:98px;
  width: 100%;
  height: 3px;
  background-color: rgb(231, 231, 231);
}

.tabs .active::before{
  content: "";
  width: 200%;
  height: 4px;
  background-color: rgb(83, 49, 156);
  position: absolute;
  border-radius: 10px;
  left: -50%;
  bottom: -32px;
  z-index: 5;
}